.menu {
  background-color: aqua;
  width: 100%;
  height: 100%;
  background-image: url(../img/character.PNG);
  background-position: right;
  background-size: cover;
}
.button {
  display: flex;
  justify-content: center;
}
