.btn {
  display: inline-block;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  font-family: Arial Black;
  width: auto;
  height: auto;
  font-size: 21px;
  padding: 9px 52px;
  box-shadow: inset 0px 1px 0 0 #ffffff, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  -moz-box-shadow: inset 0px 1px 0 0 #ffffff, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  -webkit-box-shadow: inset 0px 1px 0 0 #ffffff, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  text-shadow: 2px 1px 0 #ffffff;
  background-image: linear-gradient(to top, #474021, #302b11);
  background-color: #545aab;
}
.btn:hover,
.btn:active {
  border: 1px solid #967d09;
  color: #706449;
  box-shadow: inset 0px 0px 24px 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  -moz-box-shadow: inset 0px 0px 24px 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  -webkit-box-shadow: inset 0px 0px 24px 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  background-color: #fcdf5b;
}
