.app {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(../../shared/img/settlement.jpg);
  background-size: cover;
  gap: 8px;
  justify-content: space-between;

}
