.character {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    .title {
        color: orange;
        font-weight: bold;
    }
    .attribute {
        color: crimson;
    }
    .skill {
        color: forestgreen;
    }

    .perk {
        color: brown;
    }
    .characterName {
        font-size: 18px;
        text-align: center;
        color: orange;
        font-weight: bold;
    }

    .characterStats {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}
