html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  height: var(--tg-viewport-stable-height, 100vh);
  color: steelblue;
}

a {
  text-decoration: none;
  color: orange;
}

.button {
  display: flex;
  justify-content: center;
  padding: 4px 10px;
  border: 1px solid grey;
  border-radius: 10px;
  background: rgba(106, 90, 205, 0.8);
  color: orange;
  min-width: 40%;
  cursor: pointer;
}

.app {
  position: relative;
  height: var(--tg-viewport-stable-height, 100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  -ms-overflow-style: none;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.screen {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url("../assets/sky.png");
  background-size: cover;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
}

.scene {
  display: flex;
  flex-direction: column;
  height: 40vh;
  padding: 0 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  -ms-overflow-style: none;
  flex-grow: 4;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-color:  indigo transparent;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  gap: 8px;

  .log {
    display: flex;
    .info {
      color: orange;
    }
    .alert {
      color: crimson;
    }
    .success {
      color: forestgreen;
    }

    .enemy {
      padding: 10px 10px;
      font-weight: bold;
      font-size: 16px;
      color: darkorange;
    }

    .item {
      padding: 10px 10px;
      font-weight: bold;
      font-size: 16px;
      color: gold;
    }
  }
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  z-index: 1;
  height: 10vh;
  flex-grow: 2;
}

.gameHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0;
  padding: 10px 10px;
  z-index: 1;
  position: relative;
}

.gameScreen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: gray 1px solid;
  flex-grow: 1;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gameFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 0;
  z-index: 1;
  padding: 10px 10px;
  gap: 6px;

  .button {
    width: 100%;
    min-width: initial;
  }
}

pre {
  margin: 0;
}

.commonActions {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.upHeaderImage {
  position: absolute;
  top: 0;
  z-index: 0;

  img {
    width: 100vh;
    height: 100%;
  }
}

.footerImage {
  position: absolute;
  bottom: 0;
  z-index: 0;

  img {
    width: 100%;
    height: 100%
  }
}

.bgImage {
  position: absolute;
  bottom: 0;
  z-index: 0;

  img {
    width: 100%;
    height: 100%
  }
}

h2 {
  margin: 0;
}

.map {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  a {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
  }

  .location {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    width: calc(100vw / 5);
    height: calc(100vh / 5);
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }

  .currentLocation {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    width: calc(100vw / 5);
    height: calc(100vh / 5);
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background: rgba(106, 90, 205, 0.8);
  }
}

.currentLocation {
  padding: 4px 10px;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  .locationHeader {
    text-align: center;
    font-weight: bold;
    color: orange;
    font-size: 18px;
  }

  .locationDesc {
    font-size: 14px;
  }
}
