html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  height: var(--tg-viewport-stable-height, 100vh);
  color: steelblue;
}

.button {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 4px 0;
  border: 1px solid grey;
  border-radius: 10px;
  background: rgba(106, 90, 205, 0.5);
  color: orange;
}

.app {
  position: relative;
  height: var(--tg-viewport-stable-height, 100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  -ms-overflow-style: none;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.screen {
  display: flex;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url("../assets/sky.png");
  background-size: cover;
}

.scene {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-height: 70vh;
  padding: 0 10px;
  align-content: center;
  align-items: center;
  justify-items: center;
  position: relative;
}

.actions {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  z-index: 1;
}

.gameHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0;
  padding: 10px 10px;
  z-index: 1;
  position: relative;
}

.gameScreen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: gray 1px solid;
  flex-grow: 1;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gameFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 0;
  z-index: 1;
  padding: 10px 10px;
  gap: 6px;
}

pre {
  margin: 0;
}

.gameText {

}

.commonActions {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.upHeaderImage {
  position: absolute;
  top: 0;
  z-index: 0;

  img {
    width: 100vh;
    height: 100%;
  }
}

.footerImage {
  position: absolute;
  bottom: 0;
  z-index: 0;

  img {
    width: 100%;
    height: 100%
  }
}

.bgImage {
  position: absolute;
  bottom: 0;
  z-index: 0;

  img {
    width: 100%;
    height: 100%
  }
}

h2 {
  margin: 0;
}
