.map {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;

    .location {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        width: calc(100vw / 3);
        height: calc(100vh / 5);
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        color: orange;
    }

    .currentLocation {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        width: calc(100vw / 3);
        height: calc(100vh / 5);
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        background: rgba(103, 32, 159, 0.8);
        color: orange;
        font-weight: bold;
    }
}
